{% set classes = [
  'l-internal-header',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<div {{ add_attributes({class: classes}) }}>
  <div class="l-constrain">
    <a href="{{ slac_today_header_link }}" class="c-arrow-link">{{ 'SLAC Today'|t }}</a>
  </div>
</div>
