{% set classes = [
  'c-callout-box',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes } ) }}>
  <div class="c-callout-box__inner">
    <div class="c-callout-box__body">
        {% if callout_title %}
        <h2 class="h4{% if callout_visual_title %} sr-only{% endif %}">
            {{ callout_title }}
        </h2>
        {% endif %}
      {{ callout_content }}
    </div>
    {% if callout_media %}
      <div class="c-callout-box__media">
        {{ callout_media }}
      </div>
    {% endif %}
  </div>
</div>
